@import "tailwindcss";

:root {
  --background: #fffff9;
  --foreground: #161616;
  --primary: #0049FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-gabarito: var(--font-gabarito);
  --font-gravitas: var(--font-gravitas);
  --text-primary: var(--foreground);
}

@layer components {
  .btn-primary {
    @apply text-white bg-primary hover:bg-foreground rounded-xs cursor-pointer flex justify-center items-center;
    padding: clamp(10px, 0.5vw, 20px) clamp(10px, 2vw, 40px);
    font-size: clamp(15px, 2vw, 25px);
    min-width: clamp(100px, 1vw, 250px);
  }
}

html[data-scroll-behavior="smooth"] {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gabarito), Arial, Helvetica, sans-serif;
}
