@import "tailwindcss";

:root {
  --background: #fffff9;
  --foreground: #161616;
  --primary: #0049FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-gabarito: var(--font-gabarito);
  --font-gravitas: var(--font-gravitas);
  --text-primary: var(--foreground);
}

@layer base {
  button {
    @apply text-white bg-primary rounded-xs;
    width: clamp(80px, 15vw, 150px);
    height: clamp(35px, 5vw, 50px);
    font-size: clamp(15px, 2vw, 30px);
  }

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gabarito), Arial, Helvetica, sans-serif;
}
