@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-gabarito: var(--font-gabarito);
  --font-gravitas: var(--font-gravitas);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gabarito), Arial, Helvetica, sans-serif;
}
