@import "tailwindcss";

:root {
  --background: #fffff9;
  --foreground: #161616;
  --primary: #0049FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-gabarito: var(--font-gabarito);
  --font-gravitas: var(--font-gravitas);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gabarito), Arial, Helvetica, sans-serif;
}
